.header.shop .topbar {
    background-color: #F5B434;
    border: none;
}
.header.shop .list-main li i {
    display: inline-block;
    margin-right: 4px;
    font-size: 15px;
    color: #333;
    position: relative;
    top: 1px;
}
.header.shop .list-main li a {
    color: #333;
}
.header.shop .list-main li a:hover {
        color: #fff;
}
.header.shop .middle-inner {
    padding: 20px 0;
    background: #fff;
    border-top: 1px solid #eee;
}